:root{
    --main-color : #583B1F ;
    --background-color:#e5e0da;
    --pink-color:#e2a9aa;
  }
.btn {
    padding-top: .5rem !important;
    padding-bottom: .5rem !important;
    padding-right: 1rem !important;
    padding-left: 1rem !important;
    cursor: pointer;
    opacity: 1;
    color: rgba(255, 255, 255) !important;
    border-radius: 9999px;
    margin-left: 1rem;
}
.primary{
    background-color: var(--main-color);
}
.second {
    background-color: var(--pink-color);
}